{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Blog</title>
</head>
<body>

    <h1>Meu Blog</h1>

    <img src="{% static 'Imagens/lotes-cascavel.jpg' %}" alt="Imagem 1 Desktop"/>


    {% for funcionario in funcionarios %}
          <div>
            <H3>{{ funcionario.nome }}</H3>
            <img src="{{ funcionario.foto.url }}" height="200px" width="300px"/>
          </div>
    {% endfor %} 


    
</body>
</html>